body {
    font-family: monospace;
    text-align: center;
}

h1 {
    text-align: center;
}

table {
    display: inline-block;
}

#grid {
    margin-top: 4px;
    border-collapse: collapse;
    border-spacing: 0;
}

.gridRow {
    margin: 0;
    padding: 0;
}

.gridCell {
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    border: 1px dotted black;
    margin: 0;
    padding: 4px;
}

.topBorder {
    border-top: 2px solid black;
}

.bottomBorder {
    border-bottom: 2px solid black;
}

.leftBorder {
    border-left: 2px solid black;
}

.rightBorder {
    border-right: 2px solid black;
}

#digits {
    margin-left: 4px;
    border-spacing: 8px;
}

.digit {
    color: #222;
    width: 1.45em;
    height: 1.45em;
    text-align: center;
    font-size: 175%;
    border: 1.5px solid #222;
    border-radius: 8px;
    padding: 0px;
    margin: 0;
}
