body {
    font-family: monospace;
    text-align: center;
}

.panel {
    margin: 0;
    padding: 0;
    font-size: 0;
}

h1 {
    text-align: center;
}

table {
    display: inline-block;
    font-size: 14px;
}

#grid {
    margin-top: 4px;
    border-collapse: collapse;
    border-spacing: 0;
}

.gridRow {
    margin: 0;
    padding: 0;
}

.gridCell {
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    border: 1px dotted black;
    margin: 0;
    padding: 4px;
}

.topBorder {
    border-top: 2px solid black;
}

.bottomBorder {
    border-bottom: 2px solid black;
}

.leftBorder {
    border-left: 2px solid black;
}

.rightBorder {
    border-right: 2px solid black;
}

#digits {
    margin-left: 4px;
    border-spacing: 8px;
}

.digit {
    width: 1.45em;
    height: 1.45em;
    text-align: center;
    font-size: 175%;
    border: 1.5px solid #222;
    border-radius: 8px;
    padding: 0px;
    margin: 0;
}


ul {
  margin: 0px auto;
  padding-left: 5px;
  max-width: 700px;
  list-style: none;
  text-align: left;
  font-size: 1px;
  display: inline-block;
}
li {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 0 8px;
  width: 42px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
}

#newGrid ul {
    margin: 0 auto;
}
#newGrid li {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: #FF6;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 6px;
}

#restart li {
    font-size: 24px;
    width: auto;
}

#help ul {
    width: 250px; 
}
.help {
    font-size: 14px;
    width: 160px;
    text-align: left;
    top: -8px;
}
#help p {
    font-weight: bold;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 16px;
}
.helpButton {
    color: #FF6;
    padding-bottom: 6px;
    cursor: pointer;
}
